<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">                             
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Serrebrooke</title>
</head>
<body>
    <div class="container mt-4">
        <button id="nightModeButton" onclick="toggleNightMode()" class="btn btn-dark mb-4">Dark Mode</button>
        <h1 id="title" class="text-center mb-4">Serrebrooke</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">       
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" data-bs-target="#Dashboard" type="button" role="tab" aria-controls="Dashboard" aria-selected="true">Tableau de bord</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="control-tab" data-bs-toggle="tab" data-bs-target="#Control" type="button" role="tab" aria-controls="Control" aria-selected="false">Contrôle</button>
            </li>  
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="programming-tab" data-bs-toggle="tab" data-bs-target="#Programming" type="button" role="tab" aria-controls="Programming" aria-selected="false">Programmation</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="download-tab" data-bs-toggle="tab" data-bs-target="#Download" type="button" role="tab" aria-controls="Download" aria-selected="false">Télécharger</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#Settings" type="button" role="tab" aria-controls="Settings" aria-selected="false">Paramètres</button>
            </li>                      
        </ul> 
        <div class="tab-content" id="myTabContent">                          
            <div class="tab-pane fade" id="Control" role="tabpanel" aria-labelledby="control-tab">
                <div class="control-panel">
                    <div class="control-button" onclick="toggleDeviceState('HEATER', 'chauffageState')">
                        <span class="control-icon">🔥</span>
                        Chauffage: <span id="chauffageState" class="control-status"></span>                
                    </div>
                    <div class="control-button" onclick="toggleDeviceState('LUMIERE', 'lumiere1State')">
                        <span class="control-icon">💡</span>
                        Lumière : <span id="lumiere1State" class="control-status"></span>
                    </div>
                    <div class="control-button" onclick="toggleDeviceState('VENTILATION', 'ventilationState')">
                        <span class="control-icon">🌀</span>
                        Ventilation: <span id="ventilationState" class="control-status"></span>
                    </div>
                    <div class="control-button" onclick="toggleDeviceState('HUMIDIFICATEUR', 'deshumidificateurState')">
                        <span class="control-icon">💧</span>
                        Humidificateur: <span id="deshumidificateurState" class="control-status"></span>                
                    </div>              
                </div>                      
            </div>
            <div class="tab-pane fade" id="Settings" role="tabpanel" aria-labelledby="settings-tab"></div>
            <div class="tab-pane fade" id="Download" role="tabpanel" aria-labelledby="download-tab">
                <h2>Download Data: 30 jours</h1>
                <div class="download-buttons">
                    <button onclick="window.location.href = '/download/json'" class="btn btn-primary m-2 ">Download JSON</button>
                    <button onclick="window.location.href = '/download/xml'" class="btn btn-primary m-2">Download XML</button>
                    <button onclick="window.location.href = '/download/csv'" class="btn btn-primary m-2">Download CSV</button>
                </div>
            </div>
            <!-- The rest of your HTML content -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
